@font-face {
	font-family: "Monocraft";
	src: url('Monocraft.ttf');
}

body {
	background-color: #002b36;
	font-family: Monocraft;
	background-image: url('space_image.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#body {
	background-color: #002b36;
	height: 100vh;
	width: 100vw;
}


.container {
	background-color: #657b83;

	width: 50%;
    height: 50%;

	margin: auto;
	padding: 1%;


	border: 3px solid black;
    border-radius: 5%;

	text-align: center;
}

.image {
    width: 80%;
    height: 80%;

	margin: auto;
}

.image img {
	width: 100%;
	height: 100%;

	border: 3px solid black;
	border-radius: 5%;
}

.file {

	opacity: 0;
	width: 0.1px;
	height: 0.1px;
	position: absolute;
}

#title {
	font-size: 50px;
}

#file-div {
	padding-left: 500px;
}

.center {
	display: block;
	text-align: center;
	margin: auto;
	width: 50vw;
	padding: 10px;
}

#file-label {
	border-radius: 10px;
	width: 10vw;
	height: 6vh;
	background: #002b36;
	color: #93a1a1;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-family: Monocraft;
	margin: 20px;
	display: inline-flex;
}

#file-name {
	font-family: Monocraft;
	padding-bottom: 3vh;
}

#submit {
	background: #002b36;
	color: #93a1a1;
	width: 16vw;
	height: 8vh;
	border-radius: 10px;
	font-family: Monocraft;
}

#button-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#button1-div {
	border-radius: 10px;
	width: 30%;
	height: 5vh;
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
	padding-right: 5%;
	justify-content: center;
	align-items: center;
}

#button2-div {
	border-radius: 50px;
	width: 30%;
	height: 5vh;
	padding-top: 20px;
	padding-bottom: 20px;
	float: right;
	padding-left: 5%;
	justify-content: center;
	align-items: center;
}

.button1 {
	line-height: 50px;
	font-family: Monocraft;
    background: #002b36;
	color: #93a1a1;
	width: 100%;
	height: 50px;
    border: none;
    text-align: center;

    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 4px;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

  /* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

  /* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #002b36;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: whitesmoke;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #eee8d5;
}

input:focus + .slider {
	box-shadow: 0 0 1px #eee8d5;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

  /* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
.slider-div {
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
}