@font-face {
	font-family: "Monocraft";
	src: url('Monocraft.ttf');
}

body {
	background-color: lightblue;
	font-family: Monocraft;
}

.container {
	background-color: #757253;
    
	width: 50%;
    height: 50%;
	
	margin: auto;
	padding: 1%;

	border: 3px solid black;
    border-radius: 5%;
    
	text-align: center;
}

.image {
    width: 80%;
    height: 80%;
	
	margin: auto;    
}

.image img {
	width: 100%;
	height: 100%;

	border: 3px solid black;
	border-radius: 5%;
}
