{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block maincontent %}
<script>
	function nameUpdate() {
		var fileInput = document.getElementById('inputFile');
		var filename = fileInput.files[0].name;
		document.getElementById("file-name").innerHTML = `<div> ${filename}</div>`;
	}
</script>
<div>
	<div class="container">
		<div id="title">
			<p> Starmapper </p>
		</div>

		<div>
			<form method="post" enctype="multipart/form-data">
				<div id="button-container">
					<div id="button1-div">
						<label class="button1">
							Stars
						</label>
					</div>
						<div id="slider-div">
							<label class="switch">
								<input type="checkbox" name="checkbox-slider" id="checkbox-slider">
								<span class="slider round"></span>
							</label>
						</div>
					<div id="button2-div">
						<label class="button1">
							Constellation
						</label>
					</div>
				</div>
				<div>
					<div>
					<label for="inputFile" id="file-label">Choose file</label>
					</div>
					<input type="file" id="inputFile" name="inputFile" accept="image/*"class="file" onchange="nameUpdate()">
					<div id="file-name">No file chosen</div>
					<input onclick="window.location.href='/home'" type="submit" value="Submit" id="submit">
				</div>
			</form>
		</div>

		<br><br>

		{% if filename %}
			<div class="image">
				<img src="/static/{{ filename }}">
			</div>

		{% endif %}
		{% if fact %}
			<p>Constellation: {{fact[0]}}</p>
    		<p>Fact: {{fact[1]}}</p>
		{% endif %}

	</div>
</div>
{% endblock %}
