{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block maincontent %}

<div class="container">

	<div>
		<p> starmapper </p>
	</div>

	<br><br>

	<div>
		<form method="post" enctype="multipart/form-data">
			<label for="inputFile">Select a file:</label>	
			<input type="file" id="inputFile" name="inputFile" accept="image/*">
			<input onclick="window.location.href='/home'" type="submit" value="Submit">
		</form>
	</div>

	<br><br>

	{% if filename %}
		<div class="image">
			<img src="/static/{{ filename }}">
		</div>
    <p>Constelation: {{fact[0]}}</p>
    <p>Fact: {{fact[1]}}</p>
	{% endif %}
  
</div>

{% endblock %}
